<h2> All Posts </h2>
<div class="">
	<% for user in @users %>
		<% if !user.photos.empty? %>
			<div>
				<% for photo in user.photos %>
					<%= photo.title %>
					<%= image_tag photo.image.url(:medium) %> </br>
					by <%= user.nickname %> </br>
					<%= link_to "Full view", photo_path(photo) %>
				<% end %>		
			</div>
				<% if current_user.followships.in?(follower_id: user.id) %>
					<%= link_to "Follow", followships_path(follower_id: user), method: :post %>
				<% end %>
					<%= link_to "Dismiss", followship_path(:id), method: :delete %>
								
		<% end %>
	<% end %>
</div>