<h1><%= @photo.title %></h1>
<div class="">
	<%= image_tag @photo.image.url(:large) %>
</div>
<% if @photo.user_id != current_user.id %>
	<% if @like.present? %>
		<div>
			<%= link_to photo_like_path(@photo, @like), method: :delete do %>
			    <span class="glyphicon glyphicon-heart" %></span> <span class="liked_it">Liked</span>
            <% end %>
		</div>
	<% else %>
		<div>
			<%= link_to photo_likes_path(@photo, @like), method: :post do %>
			    <span class="glyphicon glyphicon-heart-empty" %></span> <span class="like_it">Like</span>
            <% end %>
		</div>
	<% end %>
<% end %>

<div class="">
	<%= @photo.description %>
</div>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<section id="comment-section">
  <ul id="comments">
    <%= render @photo.comments %>
  </ul>
<% if current_user %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
 <% end %>
</section>  
