<h1><%= @photo.title %></h1>
<div class="">
	<%= image_tag @photo.image.url(:large) %>
</div>
<% if current_user.id != @photo.user_id %>
	<% if @photo.likes.find_by(user_id: current_user.id) %>
		<div>
			You liked this picture.
		</div>
	<% else %>
		<div>
			<%= link_to "Like", photo_likes_path(@photo), method: :post %>
		</div>
	<% end %>
<% end %>

<div class="">
	<%= @photo.description %>
</div>

<h2><%= link_to 'Comments', '#', id: 'comments-link' %></h2>
<section id="comment-section">
  <ul id="comments">
    <%= render @photo.comments %>
  </ul>
<% if current_user %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
 <% end %>
</section>  
